/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/******************** GLOBAL STYLES ********************/

.attention {
  outline: 1px solid red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #152A3E;
  color: #EEEFDA;
}

a {
  color: #EEEFDA;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lexend Tera', sans-serif;
  font-weight: 500;
}

p, li {
  font-family: 'Cousine', monospace;
}

img {
  width: 100%;
  margin: 1.75rem 0;
}

.header .content-wrapper {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlight {
  background-color: #E9B14C;
  color: #152A3E;
  padding: .25rem;
}

.underline {
  text-decoration: underline;
}

.whisper {
  font-size: 1rem;
  font-style: italic;
  font-weight: 100;
  color: #B4C7D9;
}

.content-wrapper {
  margin: 0 1.75rem;
}

/******************** Mobile Styles ********************/

nav {
  display: flex;
  justify-content: space-between;
  background-color: #152A3E;
  width: 100%;
}

.nav-active {
  box-shadow: 1px -11px 80px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px -11px 80px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px -11px 80px 0px rgba(0,0,0,0.5);
  transition: box-shadow 200ms linear;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
  margin: 1.5rem 0;
  width: 86%;
}

.nav-item {
  font-size: .9rem;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 2rem;
  height: 3px;
  margin: 5px auto;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #EEEFDA;
}

/* nav .emphasize {
  padding: .25rem .75rem;
  border-radius: 20px;
  background-color: #CAC691;
} */

.hero-area {
  margin-top: 7rem;
}

.hero-area p {
  margin: 2rem 0;
}

.projects-area {
  margin-top: 7rem;
}

.projects-area h1 {
  margin: 0;
  text-align: center;
}

.projects-area img {
  -webkit-box-shadow: 10px 10px 30px 5px rgba(0,0,0,0.6);
  box-shadow: 10px 10px 30px 5px rgba(0,0,0,0.6);
}

.project-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.project-header h2 {
  width: 100%;
}

.project-header i {
  font-size: 1.5rem;
  margin-left: 1rem;
  color:  #244A6F;
  transition-duration: 500ms;
}

.project-header i:hover {
  color: #EEEFDA;
  transition-duration: 500ms;
}

.project-description {
  margin: 2.5rem 0;
}

.project-skills-tools {
  margin-top: 2rem;
}

.skills-area {
    margin-top: 6rem;
}

.skills-area h1 {
  text-align: center;
}

.skill-category {
  margin: 2.5rem 0;
}

.skill-category ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  list-style: none;
  margin-top: 1rem;
}

.skill-category li {
  padding: .5rem 1rem;
  margin: .5rem;
  border-radius: 20px;
}

.language, .skill, .tool, .process, .design {
  color: #000;
}

.language {
  background-color: #CAC691;
}

.skill {
  background-color: #F7E8E8;
}

.tool {
  background-color: #EEEFDA;
}

.process {
  background-color: #B3C26A;
}

.design {
  background-color: #C6B4DE;
}

.skill-category ul .cert {
  border: 3px #244A6F solid;
  border-radius: 0;
  width: 100%;
}

.about {
  margin-top: 4rem;
}

.about img {
  border: 15px white solid;
}

.about h2 {
  margin-top: 0;
}

.about .content-wrapper p {
  margin-top: 1.5rem;
}

#modal-link {
    cursor: pointer;
}

.modal-wrapper {
    display: flex;
}

.modal {
  max-width: 75vw;
  border: none;
  margin: auto;
  animation: fadeIn .5s, slideIn .5s linear;
}

@keyframes slideIn {
  0% {
    transform: translateY(400px);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateY(0px);
    animation-timing-function: ease-in;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

  .modal img {
    border: 15px solid white;
    margin: 0;
  }

  .modal::backdrop {
    background: rgb(0 0 0 / 0.4);
  }

  .close-x {
    cursor: pointer;
    font-size: 2rem;
    color: #EEEFDA;
    right: 0;
    position: absolute;
    padding: 1.5rem 1.7rem 0 0;
  }

  .contact h1 {
    word-wrap: break-word;
  }

  .contact-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }

  .contact-area .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin-top: 2rem;
  }

  .social i {
    font-size: 2rem;
  }

  .footer {
    display: flex;
    justify-content: center;
  }

  .footer .content-wrapper {
    width: 100%;
  }

  .copyright {
    text-align: center;
    margin: 5rem 0 1rem 0;
    font-size: .75rem;
  }
  /* ==========================================================================
   Helper classes
   ========================================================================== */
  /*
 * Hide visually and from screen readers
 */

  .hidden, [hidden] {
    display: none !important;
  }
  /*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  /*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

  .sr-only.focusable:active, .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  /*
 * Hide visually and from screen readers, but maintain layout
 */

  .invisible {
    visibility: hidden;
  }
  /*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

  .clearfix::before, .clearfix::after {
    content: " ";
    display: table;
  }

  .clearfix::after {
    clear: both;
  }
  /* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
  /******************** Tablet Styles ********************/

  @media only screen and (min-width: 768px) {
    .content-wrapper {
    margin: 0 4rem;
  }

  /* nav ul {
    width: 67%;
    margin: 2rem 0;
  }

  nav ul li {
      font-size: 1rem;
  } */

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
  }

  .nav-item {
    padding: 1rem 0;
    background-color: #152A3E;
    border-bottom: 1px solid #EEEFDA;
    width: 100%;
    text-align: center;
  }

  .hero-area {
    margin-top: 8rem;
  }

  .hero-area p {
    margin: 5rem 0;
  }

  .projects-area {
    margin-top: 7.5rem;
  }

  .projects-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 1rem;
  }

  .project-item {
    width: 45%;
  }

  .skills-area h1, .skills-area h2 {
    text-align: center;
  }

  .skill-category ul {
    justify-content: center;
  }

  .about {
      margin-top: 6rem;
  }

  .about .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about img {
    width: 50%;
  }

  .modal {
    max-width: 50vw;
  }

  .contact-area {
    width: 100%;
  }

  .contact-area .content-wrapper {
    align-items: flex-start;
  }

  .social {
    width: 25%;
    justify-content: space-between;
  }
}



/******************** Desktop Styles ********************/

@media only screen and (min-width: 1024px) {

  .content-wrapper {
    width: 924px;
  }

  .header .content-wrapper {
    width: 100%;
  }

  .header {
    display: flex;
    justify-content: center;
  }

  .header .content-wrapper {
    justify-content: flex-end;
    width: 100%;
  }

  /* nav ul {
    width: 924px;
    justify-content: flex-end;
  }

  nav ul li {
    margin-left: 3rem;
  } */

  .hero-area p {
    margin: 2.5rem 0;
  }

  .projects-area {
    margin-top: 7rem;
  }

  .projects-block {
    flex-flow: row wrap;
  }

  .project-item {
    width: 30%;
  }

  .about .content-wrapper {
    flex-direction: row;
    align-items: flex-start;
  }

  .modal {
    max-width: 25vw;
  }

  #headshot {
    width: 20vw;
    margin: 0.3rem 2rem 0 0;
  }

  .contact {
    width: 66%;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
